<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>HomeWork_JSON_API_MVC</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    <div>
        <div class="container">
            <label class="div_dimensions">
                Размерность первой матрицы
                <label>
                    Строк:
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <label>
                    Столбцов:
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
            </label>
            <label class="div_dimensions">
                Размерность второй матрицы
                <label>
                    Строк:
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
                <label>
                    Столбцов:
                    <select>
                        <option>1</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                </label>
            </label>

        </div>

    </div>
</body>
</html>